@model IEnumerable<LinqTaskEF.Models.ProductList>

@{
    ViewBag.Title = "ProductNameAsc";
}

<h2>Product List</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product)
        </td>
            </tr>
}

</table>
